@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto&display=swap');

:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

:root.dark {
  --bg-color: #27272a;
  --bg-container: #3f3f46;
  --bg-dashboard: #18181b;
  --border-btn: 2px solid #e4e4e7;
  --color-btn-bg: #27272a;
  --color-base-text: #fafafa;
  --shadow-color: #71717a;
}

:root.light {
  --bg-color: #d4d4d4;
  --bg-container: #fafafa;
  --bg-dashboard: #1d4ed8;
  --border-btn: 2px solid #0a0a0a;
  --color-btn-bg: #38bdf8;
  --color-base-text: #0a0a0a;
  --shadow-color: #262626;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--color-base-text);
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button:active {
  transform: scale(1);
}

.icons {
  width: 20px;
  height: 20px;
  color: white;
}

.header {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  box-shadow: 0 2px 8px var(--shadow-color);
  background: var(--bg-container);
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5em;
  align-items: center;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.search {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.search input {
  width: 500px;
  height: 20px;
  border-radius: 10px;
  padding: 0.5em;
  border: none;
  background: var(--color-btn-bg);
}

.search button {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  background: none;
}

.search button img {
  width: 20px;
  height: 20px;
}

.search button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-family: 'Orbitron', sans-serif;
  font-size: .7em;
}

.profile .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.options-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.options button {
  border: var(--border-btn);
  border-radius: 5px;
  background: var(--color-btn-bg);
  width: 100px;
  padding: 0.5em 2em;
  margin: 0.5em 0.5em;
}

.greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.greeting img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.greeting-text {
  font-family: Orbitron, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.user {
  font-size: 20px;
  font-weight: bold;
}

.sidebar-left {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background: var(--bg-dashboard);
  padding: 1em;
}

.dashboard-logo {
  font-family: Orbitron, Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: var(--color-base-text);
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.navbar-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  margin-left: 1em;
}

.config-bar {
  display: flex;
  flex-direction: column;
}

.configbar-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  margin-left: 1em;
}

img {
  src: url(images/logo.png);
}

.articles {
  display: grid;
  grid-template: repeat(auto-fit, minmax(100px, 1fr)) / repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 1em;
}

.article {
  background-color: var(--bg-container);
  border-radius: 10px;
  box-shadow: -2px 3px 5px var(--shadow-color);
  padding: 1em;
  text-align: center;
}

.article h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: Orbitron, Helvetica, Arial, sans-serif;
}

.article p {
  font-size: 14px;
}

.sidebar-right {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background: #3f3f46;
  margin: 1em;
  border-radius: 10px;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}